//@theme "/usr/share/rofi/themes/bspad.rasi"
//@theme "/usr/share/rofi/themes/Adapta-Nokto.rasi"
//@theme "/usr/share/rofi/themes/clipboard.rasi"
//@theme "/usr/share/rofi/themes/bspad.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/launcher.rasi"
//@theme "/usr/share/rofi/themes/launcher.rasi"
//@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
@theme "/usr/share/rofi/themes/docu.rasi"
